.task-preview {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 17px;

}

.task-preview h1 {
    font-size: 1.3em;
}

.task-preview.h2 {
    font-size: 1em;
}

.task-preview.h2 span {
    font-size: 1em;
    color: lightcoral;
}

.task-preview.h3 {
    font-size: 0.8em;
    color: lightslategray;
}

.task-preview .right-section input {
    width: 22px;
    height: 22px;
}

.low {
    color: lightseagreen;
}

.medium {
    color: orange;
}

.high {
    color: lightcoral;
}

.active {
    text-decoration: none;
}

.done {
    text-decoration: line-through;
}