.task-preview {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 17px;
}

.task-preview h1 {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.task-preview.h2 {
    display: flex;
    align-items: center;
    font-size: 1em;
    margin-block-start: 20px;
}

.task-preview.h2 span {
    font-size: 1em;
    margin-inline-start: 10px;
    color: lightcoral;
}

.task-preview.h3 {
    font-size: 0.8em;
    color: lightslategray;
}

.task-preview .right-section input {
    width: 25px;
    height: 25px;
    border-radius: 50px;
}

.task-preview .right-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}


.low,
.medium,
.high {
    display: inline-block;
    text-align: center;
    width: 90px;
    padding: 1px 5px;
    background-color: rgba(255, 255, 255, 0.438);
    border-radius: 10px;
}

.low {
    color: lightseagreen;
}

.medium {
    color: orange;
}

.high {
    color: lightcoral;
}

.active {
    text-decoration: none;
}

.done {
    background-color: #000;
    opacity: 0.1;
    transition: opacity 0.2 ease-in-out;
}

.done:hover {
    background-color: transparent;
    color: black;
    opacity: 1;
    cursor: help;
}

.remove-task-btn {
    min-width: 77px;
    border: none;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 1em;
}

.remove-task-btn:hover {
    background-color: lightslategray;
    cursor: pointer;
}

.preview-btns {
    display: flex;
    gap: 10px;
    align-items: center;
}